SQL to run in Supabase SQL Editor:
-- Update Product Type Constraint
ALTER TABLE products DROP CONSTRAINT IF EXISTS products_type_check;
ALTER TABLE products ADD CONSTRAINT products_type_check CHECK (type IN ('Treatment Care & Beauty', 'Product Care & Beauty', 'Barang Kantor', 'Aset Karyawan', 'Treatment', 'Retail Produk'));

-- Insert Categories
INSERT INTO categories (name) VALUES 
('Beauty facial & body'),
('Eyelash'),
('Nail art'),
('Eyebrow')
ON CONFLICT (id) DO NOTHING;
